@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('./normalize.css') layer(normalize);

@layer normalize, reset, theme, base, compositions, components, utilities;

@view-transition {
  navigation: auto;
}

:root {
  /* Colors */
  color-scheme: light dark;

  /* Primary */
  --primary-50: oklch(97% 0.014 254.604);
  --primary-100: oklch(93.2% 0.032 255.585);
  --primary-200: oklch(88.2% 0.059 254.128);
  --primary-300: oklch(80.9% 0.105 251.813);
  --primary-400: oklch(70.7% 0.165 254.624);
  --primary-500: oklch(62.3% 0.214 259.815);
  --primary-600: oklch(54.6% 0.245 262.881);
  --primary-700: oklch(48.8% 0.243 264.376);
  --primary-800: oklch(42.4% 0.199 265.638);
  --primary-900: oklch(37.9% 0.146 265.522);
  --primary-950: oklch(28.2% 0.091 267.935);

  /* Neutral */
  --neutral-50: oklch(98.5% 0 0);
  --neutral-100: oklch(98.5% 0 0);
  --neutral-200: oklch(92.2% 0 0);
  --neutral-300: oklch(87% 0 0);
  --neutral-400: oklch(70.8% 0 0);
  --neutral-500: oklch(55.6% 0 0);
  --neutral-600: oklch(43.9% 0 0);
  --neutral-700: oklch(37.1% 0 0);
  --neutral-800: oklch(26.9% 0 0);
  --neutral-900: oklch(20.5% 0 0);
  --neutral-950: oklch(14.5% 0 0);

  /* Other colors */
  --black: oklch(14.077% 0.0044 285.776);
  --white: oklch(100% 0 0);

  --green-50: oklch(98.2% 0.018 155.826);
  --green-100: oklch(96.2% 0.044 156.743);
  --green-200: oklch(92.5% 0.084 155.995);
  --green-400: oklch(79.2% 0.209 151.711);
  --green-500: oklch(72.3% 0.219 149.579);
  --green-600: oklch(62.7% 0.194 149.214);
  --green-800: oklch(44.8% 0.119 151.328);

  --red-50: oklch(97.1% 0.013 17.38);
  --red-100: oklch(93.6% 0.032 17.717);
  --red-200: oklch(88.5% 0.062 18.334);
  --red-400: oklch(70.4% 0.191 22.216);
  --red-500: oklch(63.7% 0.237 25.331);
  --red-600: oklch(57.7% 0.245 27.325);
  --red-800: oklch(44.4% 0.177 26.899);

  /* Fonts */
  --font-sans: 'Inter', system-ui, sans-serif;

  --fs-xs: clamp(0.64rem, 0.05vi + 0.63rem, 0.67rem);
  --fs-sm: clamp(0.8rem, 0.15vi + 0.77rem, 0.89rem);
  --fs-base: clamp(1rem, 0.31vi + 0.94rem, 1.19rem);
  --fs-md: clamp(1.25rem, 0.55vi + 1.14rem, 1.58rem);
  --fs-lg: clamp(1.56rem, 0.91vi + 1.38rem, 2.11rem);
  --fs-xl: clamp(1.95rem, 1.43vi + 1.67rem, 2.81rem);
  --fs-xxl: clamp(2.44rem, 2.18vi + 2.01rem, 3.75rem);
  --fs-xxxl: clamp(3.05rem, 3.24vi + 2.4rem, 5rem);

  /* Rest of vars */
  --radius: 0.375rem;
  --rounded-sm: calc(var(--radius) - 4px);
  --rounded-md: calc(var(--radius) - 2px);
  --rounded-lg: var(--radius);
  --rounded-xl: calc(var(--radius) + 4px);

  --tracking-tight: -0.025em;

  --transition: 150ms ease;

  --card-width: 24rem;
  --fixed-width: 37.5rem;
  --max-width: 80rem;

  /* Shadows */
  --shadow-xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: oklch(98.511% 0.00011 271.152);
  }
}

@layer theme {
  :root {
    /* Base */
    --background: var(--neutral-50);
    --foreground: var(--neutral-950);

    /* Primary */
    --primary: var(--primary-600);
    --primary-hover: var(--primary-700);
    --primary-foreground: var(--white);

    /* Button */
    --button-primary: var(--primary);
    --button-primary-hover: var(--primary-hover);
    --button-primary-foreground: var(--primary-foreground);

    /* Soft Button */
    --soft: var(--primary-100);
    --soft-hover: var(--primary-200);
    --soft-foreground: var(--primary-700);

    /* Secondary */
    --secondary: var(--neutral-50);
    --secondary-foreground: var(--neutral-800);

    /* Muted */
    --muted: var(--neutral-50);
    --muted-foreground: var(--neutral-500);

    /* Accent */
    --accent: var(--white);
    --accent-hover: var(--neutral-100);
    --accent-foreground: var(--neutral-950);

    /* Destructive */
    --destructive: var(--red-800);

    /* Interface */
    --alert-destructive: var(--red-100);
    --alert-destructive-foreground: var(--red-800);

    --alert-success: var(--green-100);
    --alert-success-foreground: var(--green-800);

    --border: var(--neutral-200);
    --input: var(--background);
    --select: var(--background);
    --select-option-hover: var(--neutral-200);
    --ring: var(--primary-600);

    /* Card */
    --card: var(--white);
    --card-foreground: var(--primary-950);

    /* Table */
    --table-row-striped: var(--neutral-100);

    /* Navbar */
    --navbar: var(--white);
    --navbar-foreground: var(--secondary-foreground);
    --navbar-primary: var(--primary-600);
    --navbar-accent-hover: var(--neutral-200);
    --navbar-accent-foreground: var(--primary-950);
    --navbar-border: var(--border);
  }

  /* Dark theme */
  @media (prefers-color-scheme: dark) {
    :root {
      /* Base */
      --background: var(--neutral-900);
      --foreground: var(--white);

      /* Primary */
      --primary: var(--primary-500);
      --primary-hover: var(--primary-400);

      /* Button */
      --button-primary: var(--primary-600);
      --button-primary-hover: var(--primary-500);

      /* Soft Button */
      --soft: oklch(from var(--primary-500) l c h / 0.2);
      --soft-hover: oklch(from var(--primary-500) l c h / 0.3);
      --soft-foreground: var(--primary-400);

      /* Secondary */
      --secondary: oklch(from var(--white) l c h / 0.1);
      --secondary-hover: oklch(from var(--white) l c h / 0.2);
      --secondary-foreground: var(--white);

      /* Muted */
      --muted: var(--neutral-800);
      --muted-foreground: var(--neutral-400);

      /* Accent */
      --accent: oklch(from var(--white) l c h / 0.1);
      --accent-hover: oklch(from var(--white) l c h / 0.2);
      --accent-foreground: var(--white);

      /* Destructive */
      --destructive: var(--red-400);

      /* Interface */
      --alert-destructive: oklch(from var(--red-500) l c h / 0.15);
      --alert-destructive-foreground: var(--red-200);

      --alert-success: oklch(from var(--green-500) l c h / 0.15);
      --alert-success-foreground: var(--green-200);

      --border: oklch(from var(--white) l c h / 0.1);
      --input: oklch(from var(--white) l c h / 0.05);
      --select: var(--neutral-800);
      --select-option-hover: var(--accent-hover);
      --ring: var(--primary-600);

      /* Card */
      --card: oklch(from var(--neutral-800) l c h / 0.4);
      --card-foreground: var(--white);

      /* Table */
      --table-row-striped: oklch(from var(--white) l c h / 0.02);

      /* Navbar */
      --navbar: var(--neutral-900);
      --navbar-foreground: var(--neutral-300);
      --navbar-primary: var(--primary);
      --navbar-accent-hover: var(--accent-hover);
      --navbar-accent-foreground: var(--white);
      --navbar-border: var(--border);
    }
  }
}

@layer reset {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer base {
  *:focus-visible {
    outline-color: var(--ring);
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
  }

  html {
    font-size: 100%;
  } /* 16px */

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    font-size: var(--fs-base);
    font-weight: 400;
    line-height: 1.5;
    min-block-size: 100dvh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    letter-spacing: var(--tracking-tight);
    line-height: 1.1;
    margin: 0;
    max-inline-size: 25ch;
    text-wrap: balance;
  }

  h1 {
    font-size: var(--fs-xxxl);
  }

  h2 {
    font-size: var(--fs-xxl);
  }

  h3 {
    font-size: var(--fs-xl);
  }

  h4 {
    font-size: var(--fs-lg);
  }

  h5 {
    font-size: var(--fs-md);
  }

  p {
    margin-block-start: 1rem;
    max-inline-size: 65ch;
    text-wrap: pretty;
  }

  small {
    font-size: var(--fs-sm);
  }

  a {
    color: var(--primary);
    font-weight: 500;
    text-decoration: none;

    &:hover {
      color: var(--primary-hover);
      text-decoration: underline;
      text-underline-offset: 0.25rem;
    }
  }

  ul {
    list-style: none;
  }

  label {
    text-box: trim-both cap alphabetic;
  }

  input {
    accent-color: var(--primary-500);
  }

  input:focus-visible,
  textarea:focus-visible,
  select:focus-visible {
    outline-offset: -1px;
  }

  textarea:not([rows]) {
    min-block-size: 10em;
  }

  ::placeholder {
    font-family: inherit;
    color: var(--muted-foreground);
  }

  .img {
    display: block;
    max-inline-size: 100%;
    object-fit: cover;
  }

  main {
    padding-block-start: clamp(1.5rem, 3vw, 3rem);
  }
}

@layer compositions {
  .auto-grid {
    display: grid;
    grid-template-columns: repeat(
      var(--grid-placement, auto-fill),
      minmax(var(--grid-min-item-size, 16rem), 1fr)
    );
    gap: var(--gutter, 1rem);
  }

  .cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter, 1rem);
    justify-content: var(--cluster-horizontal-alignment, flex-start);
    align-items: var(--cluster-vertical-alignment, center);
  }

  .page {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
}

@layer components {
  /* Navbar */
  .navbar {
    background-color: var(--navbar);
    position: relative;
  }

  .navbar::after {
    content: '';
    pointer-events: none;
    position: absolute;
    inset-inline: 0;
    bottom: 0;
    block-size: 1px;
    background-color: var(--navbar-border);
  }

  .nav-wrapper {
    block-size: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .nav-mobile-menu {
    position: absolute;
    inset-block: 0;
    inset-inline-start: 0;
    display: flex;
    align-items: center;

    @media (width >= 40rem) {
      display: none;
    }
  }

  .mobile-menu-btn {
    background-color: transparent;
    border-radius: var(--rounded-lg);
    color: var(--muted-foreground);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    position: relative;

    &:hover {
      background-color: var(--navbar-accent-hover);
      color: var(--navbar-accent-foreground);
    }
  }

  .menu-btn-overlay {
    position: absolute;
    inset: -0.125rem;
  }

  .mobile-menu-btn[aria-expanded='true'] .icon-hamburger {
    display: none;
  }

  .icon-close {
    display: none;
  }

  .mobile-menu-btn[aria-expanded='true'] .icon-close {
    display: block;
  }

  .nav-content {
    display: flex;
    column-gap: 1.5rem;
    flex: 1;
    justify-content: center;
    align-items: center;

    @media (width >= 40rem) {
      justify-content: start;
    }
  }

  .nav-brand {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    a {
      color: var(--navbar-primary);
      font-size: var(--fs-md);
      font-weight: 600;
      text-decoration: none;
    }
  }

  .nav-menu {
    display: none;

    @media (width >= 40rem) {
      display: block;
    }
  }

  .nav-links {
    display: flex;
    column-gap: 1rem;
  }

  .nav-link {
    border-radius: var(--rounded-lg);
    color: var(--navbar-foreground);
    font-size: var(--fs-sm);
    padding: 0.375rem 0.75rem;
    text-decoration: none;
    transition: var(--transition);
    transition-property: background-color, color;

    &:hover,
    &.active,
    &[aria-current='page'] {
      color: var(--navbar-accent-foreground);
      background-color: var(--navbar-accent-hover);
    }
  }

  /* Mobile menu */
  @media (width >= 40rem) {
    .mobile-menu {
      display: none;
    }
  }

  .navbar:has(.mobile-menu-btn[aria-expanded='false']) .mobile-menu {
    display: none;
  }

  .mobile-menu-links {
    padding: 0.5rem 0.5rem 0.75rem 0.5rem;
  }

  .mobile-menu-links > * + * {
    margin-block-start: 0.25rem;
  }

  .mobile-menu-link {
    border-radius: var(--rounded-lg);
    color: var(--navbar-foreground);
    display: block;
    font-size: var(--fs-base);
    padding: 0.375rem 0.75rem;
    text-decoration: none;
    transition: var(--transition);
    transition-property: background-color, color;

    &:hover,
    &.active {
      color: var(--navbar-accent-foreground);
      background-color: var(--navbar-accent-hover);
    }
  }

  /* Section */
  section {
    padding-block: 3rem;
  }

  section header {
    text-align: center;
  }

  section header h2 {
    font-size: var(--fs-lg);
    margin-inline: auto;
  }

  section header h2::after {
    content: '';
    display: block;
    background: var(--primary-600);
    block-size: 2px;
    inline-size: 8rem;
    margin-block-start: 1.25rem;
    margin-inline: auto;
  }

  /* Buttons */
  button {
    display: inline-block;
    font-size: var(--fs-sm);
    font-weight: 600;
    line-height: 1.5;
    color: var(--button-primary-foreground);
    background-color: var(--button-primary);
    border: transparent;
    border-radius: var(--rounded-lg);
    box-shadow: var(--shadow-xs);
    padding: 0.375rem 0.75rem;
    transition: var(--transition);
    transition-property: background-color;

    &:hover {
      background-color: var(--button-primary-hover);
    }
  }

  button[data-variant='secondary'] {
    background: var(--accent);
    color: var(--accent-foreground);
    border: 1px solid var(--border);

    &:hover {
      background: var(--accent-hover);
    }
  }

  button[data-variant='soft'] {
    color: var(--soft-foreground);
    background-color: var(--soft);

    &:hover {
      background-color: var(--soft-hover);
    }
  }

  button[data-variant='block'] {
    inline-size: 100%;
  }

  /* Alerts */
  .alert {
    border-radius: var(--rounded-lg);
    font-size: var(--fs-sm);
    font-weight: 500;
    padding: 1rem;
  }

  .alert-content {
    display: flex;
    gap: 0.75rem;
  }

  .alert-icon-wrapper {
    flex-shrink: 0;
  }

  .alert-icon {
    display: block;
    inline-size: 1.25rem;
    block-size: 1.25rem;
  }

  .alert-danger {
    background: var(--alert-destructive);
    color: var(--alert-destructive-foreground);
  }

  .alert-success {
    background: var(--alert-success);
    color: var(--alert-success-foreground);
  }

  /* Card */
  .card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    inline-size: 100%;
    max-inline-size: var(--card-width);
    background-color: var(--card);
    border-radius: var(--rounded-lg);
    box-shadow: var(--shadow-sm);
    color: var(--card-foreground);
    padding: 1.5rem 1rem;

    @media (width >= 40rem) {
      padding: 2rem;
    }
  }

  .card-title {
    font-size: var(--fs-md);
  }

  .card-description {
    color: var(--muted-foreground);
    font-size: var(--fs-sm);
    margin-block-start: 0.5rem;
  }

  /* Form */
  label {
    display: block;
    font-size: var(--fs-sm);
    font-weight: 500;
  }

  .form-title {
    font-size: var(--fs-md);
    margin-block-end: 2.5rem;
  }

  .form-row {
    margin-block-end: 1.5rem;
  }

  .form-row:has(.fine-print) {
    display: flex;
    align-items: baseline;
    gap: 0.75ch;
  }

  .form-label-privacy {
    font-weight: 400;
  }

  select,
  ::picker(select) {
    appearance: base-select;
  }

  input:not(.fine-print),
  select,
  textarea {
    background-color: var(--input);
    border: 1px solid var(--border);
    border-radius: var(--rounded-lg);
    field-sizing: content;
    inline-size: 100%;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    margin-block-start: 0.5rem;
  }

  .input-group {
    display: flex;
    margin-block-start: 0.5rem;

    input {
      flex-grow: 1;
      border-start-end-radius: 0;
      border-end-end-radius: 0;
      margin-block-start: 0;
    }

    button {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
    }

    input:focus-visible,
    button[data-variant='secondary']:focus-visible {
      outline-width: 2px;
      outline-offset: -2px;
    }
  }

  label:has(+ input[aria-invalid='true']),
  label:has(+ textarea[aria-invalid='true']),
  label:has(+ select[aria-invalid='true']),
  input[aria-invalid='true'] + label {
    color: var(--destructive);
  }

  input[aria-invalid='true'],
  textarea[aria-invalid='true'],
  select[aria-invalid='true'] {
    border-color: var(--destructive);
  }

  select {
    background-color: var(--input);

    &::picker(select) {
      background-color: var(--select);
      border: 1px solid var(--border);
      border-radius: var(--rounded-lg);
      padding: 0.375rem 0.75rem;
      top: calc(anchor(bottom) + 0.25rem);
    }
  }

  option {
    display: flex;
    justify-content: flex-start;
    padding: 0.375rem 0.75rem;
    border-radius: var(--rounded-lg);
    margin-block-start: 0.5rem;

    &:hover,
    &:focus-visible {
      background-color: var(--select-option-hover);
    }

    &:checked {
      font-weight: 500;
    }

    &::checkmark {
      order: 1;
      margin-left: auto;
    }
  }

  @media (width >= 40rem) {
    input,
    select,
    textarea {
      font-size: var(--fs-sm);
    }
  }

  .form-alert {
    color: var(--destructive);
    font-size: var(--fs-sm);
    font-weight: 500;
    margin-block-start: 0.5rem;
  }

  /* Footer */
  .footer-container {
    padding: 3rem 1.5rem;
    max-inline-size: var(--max-width);
    margin-inline: auto;

    p {
      color: var(--muted-foreground);
      font-size: var(--fs-sm);
      margin: 0 auto;
      text-align: center;
    }

    @media (width >= 64rem) {
      padding-inline: 2rem;
    }
  }

  /* Badges */
  .badge {
    display: inline-flex;
    align-items: center;
    border-radius: var(--rounded-lg);
    background-color: var(--muted);
    color: var(--muted-foreground);
    padding: 0.25rem 0.5rem;
    font-size: var(--fs-xs);
    font-weight: 500;
  }

  .badge-danger {
    background-color: var(--alert-destructive);
    color: var(--alert-destructive-foreground);
  }

  .badge-success {
    background-color: var(--alert-success);
    color: var(--alert-success-foreground);
  }

  /* Table */
  @media (width >= 40rem) {
    .table-header {
      display: flex;
      align-items: center;
    }

    .table-header-text {
      flex: auto;
    }
  }

  .table-title {
    font-size: var(--fs-base);
    line-height: 1.5;
  }

  .table-description {
    color: var(--secondary-foreground);
    font-size: var(--fs-sm);
    line-height: 1.3333;
    margin-block-start: 0.5rem;
  }

  .table-header-actions {
    margin-block-start: 1rem;

    @media (width >= 40rem) {
      margin-block-start: 0rem;
      margin-inline-start: 4rem;
      flex: none;
    }
  }

  .table-container {
    display: flow-root;
    margin-block-start: 2rem;
  }

  .table-wrapper {
    margin-block: -0.5rem;
    margin-inline: -1rem;
    overflow-x: auto;

    @media (width >= 40rem) {
      margin-inline: -1.5rem;
    }

    @media (width >= 64rem) {
      margin-inline: -2rem;
    }
  }

  .table-scroll {
    display: inline-block;
    min-inline-size: 100%;
    padding-block: 0.5rem;
    vertical-align: middle;

    @media (width >= 40rem) {
      padding-inline: 1.5rem;
    }

    @media (width >= 64rem) {
      padding-inline: 2rem;
    }
  }

  table {
    border-collapse: collapse;
    border-color: inherit;
    position: relative;
    min-inline-size: 100%;
    text-indent: 0;
    white-space: nowrap;
  }

  thead {
    border-block-end: 1px solid var(--border);
  }

  thead th:first-child {
    padding-inline-start: 1rem;

    @media (width >= 40rem) {
      padding-inline-start: 0.75rem;
    }
  }

  th {
    padding: 0.875rem 0.75rem;
    text-align: start;
    font-size: var(--fs-sm);
    line-height: 1.3333;
    font-weight: 600;
  }

  thead th:last-child {
    padding-inline-end: 1rem;

    @media (width >= 40rem) {
      padding-inline-end: 0.75rem;
    }
  }

  tbody tr:nth-of-type(2n) {
    background-color: var(--table-row-striped);
  }

  tbody td:first-child {
    color: var(--foreground);
    padding-inline-start: 1rem;

    @media (width >= 40rem) {
      padding-inline-start: 0.75rem;
    }
  }

  tbody td {
    color: var(--muted-foreground);
    padding: 1rem 0.75rem;
    font-size: var(--fs-sm);
    line-height: 1.3333;
  }

  tbody td:last-child {
    padding-inline-end: 1rem;

    @media (width >= 40rem) {
      padding-inline-end: 0.75rem;
    }
  }
}

@layer utilities {
  .flow > * + * {
    margin-block-start: var(--flow-space, 1em);
  }

  .sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    block-size: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    inline-size: 1px;
  }

  .container {
    inline-size: 100%;
    max-inline-size: var(--max-width);
    margin-inline: auto;
    min-inline-size: 0;
    padding-inline: 1rem;

    @media (width >= 40rem) {
      padding-inline: 1.5rem;
    }

    @media (width >= 64rem) {
      padding-inline: 2rem;
    }
  }
}

/* Loader **/
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  animation: spin 1s linear infinite;
  block-size: 5rem;
  border: 5px solid var(--border);
  border-block-start-color: var(--primary-600);
  border-radius: 50%;
  inline-size: 5rem;
  margin-inline: auto;
}
