@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('./normalize.css') layer(normalize);

@layer normalize, reset, theme, base, compositions, components, utilities;

@view-transition {
  navigation: auto;
}

:root {
  /* Colors */
  color-scheme: light dark;

  /* Primary */
  --primary-50: oklch(97% 0.014 254.604);
  --primary-100: oklch(93.2% 0.032 255.585);
  --primary-200: oklch(88.2% 0.059 254.128);
  --primary-300: oklch(80.9% 0.105 251.813);
  --primary-400: oklch(70.7% 0.165 254.624);
  --primary-500: oklch(62.3% 0.214 259.815);
  --primary-600: oklch(54.6% 0.245 262.881);
  --primary-700: oklch(48.8% 0.243 264.376);
  --primary-800: oklch(42.4% 0.199 265.638);
  --primary-900: oklch(37.9% 0.146 265.522);
  --primary-950: oklch(28.2% 0.091 267.935);

  /* Neutral */
  --neutral-50: oklch(98.5% 0 0);
  --neutral-100: oklch(98.5% 0 0);
  --neutral-200: oklch(92.2% 0 0);
  --neutral-300: oklch(87% 0 0);
  --neutral-400: oklch(70.8% 0 0);
  --neutral-500: oklch(55.6% 0 0);
  --neutral-600: oklch(43.9% 0 0);
  --neutral-700: oklch(37.1% 0 0);
  --neutral-800: oklch(26.9% 0 0);
  --neutral-900: oklch(20.5% 0 0);
  --neutral-950: oklch(14.5% 0 0);

  /* Other colors */
  --black: oklch(14.077% 0.0044 285.776);
  --white: oklch(100% 0 0);

  --green-50: oklch(98.2% 0.018 155.826);
  --green-200: oklch(92.5% 0.084 155.995);
  --green-500: oklch(72.3% 0.219 149.579);
  --green-800: oklch(44.8% 0.119 151.328);

  --red-50: oklch(97.1% 0.013 17.38);
  --red-200: oklch(88.5% 0.062 18.334);
  --red-400: oklch(70.4% 0.191 22.216);
  --red-500: oklch(63.7% 0.237 25.331);
  --red-800: oklch(44.4% 0.177 26.899);

  /* Fonts */
  --font-sans: 'Inter', system-ui, sans-serif;

  --fs-xs: clamp(0.64rem, 0.05vi + 0.63rem, 0.67rem);
  --fs-sm: clamp(0.8rem, 0.15vi + 0.77rem, 0.89rem);
  --fs-base: clamp(1rem, 0.31vi + 0.94rem, 1.19rem);
  --fs-md: clamp(1.25rem, 0.55vi + 1.14rem, 1.58rem);
  --fs-lg: clamp(1.56rem, 0.91vi + 1.38rem, 2.11rem);
  --fs-xl: clamp(1.95rem, 1.43vi + 1.67rem, 2.81rem);
  --fs-xxl: clamp(2.44rem, 2.18vi + 2.01rem, 3.75rem);
  --fs-xxxl: clamp(3.05rem, 3.24vi + 2.4rem, 5rem);

  /* Rest of vars */
  --radius: 0.375rem;
  --rounded-sm: calc(var(--radius) - 4px);
  --rounded-md: calc(var(--radius) - 2px);
  --rounded-lg: var(--radius);
  --rounded-xl: calc(var(--radius) + 4px);

  --tracking-tight: -0.025em;

  --transition: 150ms ease;

  --fixed-width: 37.5rem;
  --max-width: 80rem;

  /* Shadows */
  --shadow-xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

@layer theme {
  :root {
    /* semantic tokens - Light theme */

    /* Base */
    --background: var(--primary-50);
    --foreground: var(--primary-950);

    /* Primary */
    --primary: var(--primary-600);
    --primary-hover: var(--primary-700);
    --primary-foreground: var(--white);

    /* Secondary */
    --secondary: var(--white);
    --secondary-hover: var(--neutral-50);
    --secondary-foreground: var(--primary-950);

    /* Muted */
    --muted: var(--neutral-100);
    --muted-foreground: var(--neutral-500);

    /* Accent */
    --accent: var(--primary-100);
    --accent-hover: var(--primary-200);
    --accent-foreground: var(--primary-700);

    /* Destructive */
    --destructive: var(--red-50);
    --destructive-foreground: var(--red-800);

    /* Success */
    --success: var(--green-50);
    --success-foreground: var(--green-800);

    /* Interface */
    --border: var(--neutral-200);
    --input: var(--primary-50);
    --select: var(--primary-50);
    --ring: var(--primary-600);

    /* Card */
    --card: var(--white);
    --card-foreground: var(--primary-950);
  }

  /* Dark theme */
  @media (prefers-color-scheme: dark) {
    :root {
      /* Base */
      --background: var(--neutral-900);
      --foreground: var(--white);

      /* Primary */
      --primary: var(--primary-500);
      --primary-hover: var(--primary-400);

      /* Secondary */
      --secondary: oklch(from var(--white) l c h / 0.1);
      --secondary-hover: oklch(from var(--white) l c h / 0.2);
      --secondary-foreground: var(--white);

      /* Muted */
      --muted: var(--neutral-800);
      --muted-foreground: var(--neutral-400);

      /* Accent */
      --accent: oklch(from var(--primary-500) l c h / 0.2);
      --accent-hover: oklch(from var(--primary-500) l c h / 0.3);
      --accent-foreground: var(--primary-400);

      /* Destructive */
      --destructive: oklch(from var(--red-500) l c h / 0.15);
      --destructive-foreground: var(--red-200);

      /* Success */
      --success: oklch(from var(--green-500) l c h / 0.15);
      --success-foreground: var(--green-200);

      /* Interface */
      --border: oklch(from var(--white) l c h / 0.1);
      --input: oklch(from var(--white) l c h / 0.05);
      --select: var(--neutral-800);
      --ring: var(--primary-500);

      /* Card */
      --card: oklch(from var(--neutral-800) l c h / 0.5);
      --card-foreground: var(--white);
    }

    form {
      outline: 1px solid var(--border);
    }
  }
}

@layer reset {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer base {
  *:focus-visible {
    outline-color: var(--ring);
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
  }

  html {
    font-size: 100%;
  } /* 16px */

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    font-weight: 400;
    font-size: var(--fs-base);
    line-height: 1.5;
    min-block-size: 100dvh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    letter-spacing: var(--tracking-tight);
    line-height: 1.1;
    margin: 0;
    max-inline-size: 25ch;
    text-wrap: balance;
  }

  h1 {
    font-size: var(--fs-xxxl);
  }

  h2 {
    font-size: var(--fs-xxl);
  }

  h3 {
    font-size: var(--fs-xl);
  }

  h4 {
    font-size: var(--fs-lg);
  }

  h5 {
    font-size: var(--fs-md);
  }

  p {
    margin-block-start: 1em;
    max-inline-size: 65ch;
    text-wrap: pretty;
  }

  small {
    font-size: var(--fs-sm);
  }

  a {
    color: var(--primary);
    font-weight: 600;
    text-decoration: none;

    &:hover {
      color: var(--primary-hover);
      text-decoration: underline;
      text-underline-offset: 0.25rem;
    }
  }

  ul {
    list-style: none;
  }

  label {
    text-box: trim-both cap alphabetic;
  }

  input {
    accent-color: var(--primary-500);
  }

  input:focus-visible,
  textarea:focus-visible,
  select:focus-visible {
    outline-offset: -1px;
  }

  textarea:not([rows]) {
    min-block-size: 10em;
  }

  ::placeholder {
    font-family: inherit;
    color: var(--muted-foreground);
  }

  .img {
    display: block;
    max-inline-size: 100%;
    object-fit: cover;
  }
}

@layer compositions {
  .auto-grid {
    display: grid;
    grid-template-columns: repeat(
      var(--grid-placement, auto-fill),
      minmax(var(--grid-min-item-size, 16rem), 1fr)
    );
    gap: var(--gutter, 1rem);
  }

  .cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter, 1rem);
    justify-content: var(--cluster-horizontal-alignment, flex-start);
    align-items: var(--cluster-vertical-alignment, center);
  }
}

@layer components {
  /* Section */
  section {
    padding-block: 3rem;
  }

  section header {
    text-align: center;
  }

  section header h2 {
    font-size: var(--fs-lg);
    margin-inline: auto;
  }

  section header h2::after {
    content: '';
    display: block;
    background: var(--accent);
    block-size: 2px;
    inline-size: 8rem;
    margin-block-start: 1.25rem;
    margin-inline: auto;
  }

  /* Buttons */
  button {
    display: inline-block;
    font-size: var(--fs-sm);
    font-weight: 600;
    line-height: 1.5;
    color: var(--primary-foreground);
    background: var(--primary);
    border: transparent;
    border-radius: var(--rounded-lg);
    box-shadow: var(--shadow-xs);
    padding: 0.375rem 0.75rem;
    transition: var(--transition);
    transition-property: background-color;

    &:hover,
    &:focus-visible {
      background: var(--primary-hover);
    }
  }

  button[data-variant='secondary'] {
    background: var(--secondary);
    color: var(--secondary-foreground);
    border: 1px solid var(--border);

    &:hover,
    &:focus-visible {
      background: var(--secondary-hover);
    }
  }

  button[data-variant='soft'] {
    color: var(--accent-foreground);
    background: var(--accent);

    &:hover,
    &:focus-visible {
      background: var(--accent-hover);
    }
  }

  button[data-variant='block'] {
    inline-size: 100%;
  }

  /* Alerts */
  .alert {
    border: transparent;
    border-radius: var(--rounded-md);
    font-size: var(--fs-sm);
    font-weight: 500;
    padding: 1rem;
  }

  .alert-danger {
    color: var(--destructive-foreground);
    background: var(--destructive);
  }

  .alert-success {
    color: var(--success-foreground);
    background: var(--success);
  }

  /* Form */
  form {
    inline-size: 100%;
    max-inline-size: var(--fixed-width);
    background-color: var(--card);
    border-radius: var(--rounded-lg);
    box-shadow: var(--shadow-sm);
    margin: 2.5rem auto;
    padding: 3rem 1.5rem;

    @media (width >= 40rem) {
      & {
        padding-inline: 3rem;
      }
    }
  }

  label {
    display: block;
    font-size: var(--fs-sm);
    font-weight: 500;
  }

  .form-title {
    font-size: var(--fs-md);
    margin-inline: auto;
    text-align: center;
    margin-block-end: 2.5rem;
  }

  .form-row {
    margin-block-end: 1.5rem;
  }

  .form-row:has(.fine-print) {
    display: flex;
    align-items: baseline;
    gap: 0.75ch;
  }

  .form-label-privacy {
    font-weight: 400;
  }

  select,
  ::picker(select) {
    appearance: base-select;
  }

  input:not(.fine-print),
  select,
  textarea {
    background-color: var(--input);
    border: 1px solid var(--border);
    border-radius: var(--rounded-lg);
    field-sizing: content;
    inline-size: 100%;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    margin-block-start: 0.5rem;
  }

  select {
    background-color: var(--input);

    &::picker(select) {
      background-color: var(--select);
      border: 1px solid var(--border);
      border-radius: var(--rounded-md);
      padding: 0.375rem 0.75rem;
      top: calc(anchor(bottom) + 0.25rem);
    }
  }

  option {
    display: flex;
    justify-content: flex-start;
    padding: 0.375rem 0.75rem;
    border-radius: var(--rounded-md);

    &:checked {
      font-weight: 500;
    }

    &::checkmark {
      order: 1;
      margin-left: auto;
    }
  }

  @media screen and (width >= 40rem) {
    input,
    select,
    textarea {
      font-size: var(--fs-sm);
    }
  }

  .form-alert {
    color: var(--destructive-foreground);
    font-size: var(--fs-sm);
    font-weight: 500;
    margin-block-start: 0.5rem;
  }

  /* Footer */
  .footer-container {
    padding: 3rem 1.5rem;
    max-inline-size: var(--max-width);
    margin-inline: auto;

    p {
      color: var(--muted-foreground);
      font-size: var(--fs-sm);
      margin: 0 auto;
      text-align: center;
    }

    @media (width >= 64rem) {
      & {
        padding-inline: 2rem;
      }
    }
  }
}

@layer utilities {
  .flow > * + * {
    margin-block-start: var(--flow-space, 1em);
  }

  .sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    block-size: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    inline-size: 1px;
  }

  .container {
    max-inline-size: var(--max-width);
    margin-inline: auto;
    padding-inline: 1rem;

    @media (width >= 40rem) {
      & {
        padding-inline: 1.5rem;
      }
    }

    @media (width >= 64rem) {
      & {
        padding-inline: 2rem;
      }
    }
  }
}

/* Loader **/
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  inline-size: 5rem;
  block-size: 5rem;
  margin-inline: auto;
  border: 5px solid var(--neutral-400);
  border-radius: 50%;
  border-block-start-color: var(--primary-500);
  animation: spin 1s linear infinite;
}
