:root {
  /* Colors */
  /* Primary */
  --primary-50: oklch(97% 0.014 254.604);
  --primary-100: oklch(93.2% 0.032 255.585);
  --primary-200: oklch(88.2% 0.059 254.128);
  --primary-300: oklch(80.9% 0.105 251.813);
  --primary-400: oklch(70.7% 0.165 254.624);
  --primary-500: oklch(62.3% 0.214 259.815);
  --primary-600: oklch(54.6% 0.245 262.881);
  --primary-700: oklch(48.8% 0.243 264.376);
  --primary-800: oklch(42.4% 0.199 265.638);
  --primary-900: oklch(37.9% 0.146 265.522);
  --primary-950: oklch(28.2% 0.091 267.935);

  /* Neutral */
  --neutral-50: oklch(98.5% 0 0);
  --neutral-100: oklch(98.5% 0 0);
  --neutral-200: oklch(92.2% 0 0);
  --neutral-300: oklch(87% 0 0);
  --neutral-400: oklch(70.8% 0 0);
  --neutral-500: oklch(55.6% 0 0);
  --neutral-600: oklch(43.9% 0 0);
  --neutral-700: oklch(37.1% 0 0);
  --neutral-800: oklch(26.9% 0 0);
  --neutral-900: oklch(20.5% 0 0);
  --neutral-950: oklch(14.5% 0 0);

  /* Rest of the colors */
  --black: oklch(14.077% 0.0044 285.776);
  --white: oklch(100% 0 0);
  --green-50: oklch(98.2% 0.018 155.826);
  --green-800: oklch(44.8% 0.119 151.328);
  --red-50: oklch(97.1% 0.013 17.38);
  --red-800: oklch(44.4% 0.177 26.899);

  /* fonts */
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;

  /* rest of the vars */
  --background-color: var(--primary-50);
  --text-color: var(--primary-950);

  --radius: 0.375rem;
  --rounded-sm: calc(var(--radius) - 4px);
  --rounded-md: calc(var(--radius) - 2px);
  --rounded-lg: var(--radius);
  --rounded-xl: calc(var(--radius) + 4px);

  --tracking-tight: -0.025em;

  --transition: 150ms ease;

  --fixed-width: 600px;
  --view-width: 90vw;
  --max-width: 1280px;

  /* Box shadow */
  --shadow-xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);

  /* Type scale https://utopia.fyi/type/calculator?c=320,16,1.125,1200,20,1.381,7,1,&s=,1.5%7C2%7C3%7C4%7C6,l-3xl */
  --step--1: clamp(0.91rem, calc(0.88rem + 0.03vw), 0.89rem);
  --step-0: clamp(1rem, calc(0.91rem + 0.45vw), 1.25rem);
  --step-1: clamp(1.13rem, calc(0.91rem + 1.09vw), 1.73rem);
  --step-2: clamp(1.27rem, calc(0.86rem + 2.03vw), 2.38rem);
  --step-3: clamp(1.42rem, calc(0.74rem + 3.4vw), 3.29rem);
  --step-4: clamp(1.6rem, calc(0.53rem + 5.35vw), 4.55rem);
  --step-5: clamp(1.8rem, calc(0.17rem + 8.14vw), 6.28rem);
  --step-6: clamp(2.03rem, calc(-0.39rem + 12.08vw), 8.67rem);
  --step-7: clamp(2.28rem, calc(-1.24rem + 17.63vw), 11.98rem);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline-color: var(--primary-600);
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
}

html {
  font-size: 100%;
} /* 16px */

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: system-ui, sans-serif;
  font-weight: 400;
  font-size: var(--step-0);
  line-height: 1.5;
  min-block-size: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: var(--tracking-tight);
  line-height: 1.1;
  margin: 0;
  max-inline-size: 25ch;
  text-wrap: balance;
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem); /* Large heading */
}

h2 {
  font-size: clamp(1.5rem, 3vw, 3rem); /* Medium heading */
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem); /* Small heading */
}

h4 {
  font-size: clamp(1rem, 2vw, 2rem); /* Extra small heading */
}

h5 {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem); /* Tiny heading */
}

p {
  margin-block-start: 1em;
  max-inline-size: 65ch;
  text-wrap: pretty;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  color: var(--primary-600);
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: var(--primary-500);
    text-decoration: underline;
    text-underline-offset: 0.25rem;
  }
}

ul,
ol {
  list-style: none;
}

label {
  text-box: trim-both cap alphabetic;
}

input {
  accent-color: var(--primary-500);
}

input:focus-visible,
textarea:focus-visible {
  outline-offset: -1px;
}

textarea:not([rows]) {
  min-block-size: 10em;
}

::placeholder {
  font-family: inherit;
  color: var(--neutral-400);
}

.img {
  display: block;
  max-inline-size: 100%;
  object-fit: cover;
}

/** BLOCKS **/
.section {
  padding-block: 3rem;
}

.title {
  text-align: center;
}

.title > h2 {
  margin-inline: auto;
}

.title-underline {
  background: var(--primary-200);
  block-size: 2px;
  inline-size: 8rem;
  margin-block-start: 1.25rem;
  margin-inline: auto;
}

/** COMPOSITIONS **/
.auto-grid {
  display: grid;
  grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 16rem), 1fr)
  );
  gap: var(--gutter, 1rem);
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, 1rem);
  justify-content: var(--cluster-horizontal-alignment, flex-start);
  align-items: var(--cluster-vertical-alignment, center);
}

/** UTILITIES **/
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  block-size: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  inline-size: 1px;
}

.container {
  max-inline-size: var(--max-width);
  margin-inline: auto;
  padding-inline: 1rem;
}

@media screen and (min-width: 40rem) {
  .container {
    padding-inline: 1.5rem;
  }
}

@media screen and (min-width: 64rem) {
  .container {
    padding-inline: 2rem;
  }
}

/** BUTTONS */
.btn {
  display: inline-block;
  font-size: var(--small-text);
  font-weight: 600;
  line-height: 1.5;
  color: var(--white);
  background: var(--primary-600);
  border: transparent;
  border-radius: var(--rounded-lg);
  box-shadow: var(--shadow-xs);
  padding: 0.375rem 0.75rem;
  transition: var(--transition);
  transition-property: background-color;

  &:hover,
  &:focus-visible {
    background: var(--primary-500);
  }
}

.btn-soft {
  color: var(--primary-700);
  background: var(--primary-100);

  &:hover,
  &:focus-visible {
    background: var(--primary-200);
  }
}

.btn-block {
  inline-size: 100%;
}

/** ALERTS */
.alert {
  border: transparent;
  border-radius: var(--rounded-md);
  font-size: var(--small-text);
  font-weight: 500;
  margin-block-end: var(--space-s);
  padding: 1rem;
}

.alert-danger {
  color: var(--red-800);
  background: var(--red-50);
}

.alert-success {
  color: var(--green-800);
  background: var(--green-50);
}

/** FORM */
.form {
  max-inline-size: var(--fixed-width);
  background: var(--white);
  border-radius: var(--rounded-lg);
  box-shadow: var(--shadow-sm);
  padding-block: 3rem;
  padding-inline: 1.5rem;
  margin: 2.5rem auto;
}

@media screen and (min-width: 40rem) {
  .form {
    padding-inline: 3rem;
  }
}

.form-title {
  margin-inline: auto;
  text-align: center;
  margin-block-end: 2.5rem;
}

.form-row {
  margin-block-end: 1.5rem;
}

.form-row:has(.fine-print) {
  display: flex;
  align-items: baseline;
  gap: 0.5ch;
}

.form-label {
  display: block;
  font-size: var(--small-text);
  font-weight: 500;
}

.form-label-privacy {
  font-weight: 400;
}

.form-input,
.form-textarea {
  background: var(--background-color);
  border: 1px solid var(--neutral-200);
  border-radius: var(--rounded-lg);
  inline-size: 100%;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  margin-block-start: 0.5rem;
}

@media screen and (min-width: 40rem) {
  .form-input,
  .form-textarea {
    font-size: var(--small-text);
  }
}

.form-alert {
  color: var(--red-800);
  font-size: var(--small-text);
  font-weight: 500;
  margin-block-start: 0.75rem;
}

/** SPINNER */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  inline-size: 5rem;
  block-size: 5rem;
  margin-inline: auto;
  border: 5px solid var(--neutral-400);
  border-radius: 50%;
  border-block-start-color: var(--primary-500);
  animation: spin 1s linear infinite;
}
